In [26]:
# Dependencies
#!pip install Census
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from census import Census

# Census API Key
from config import api_key
c = Census(api_key, year=2017)

In [27]:
census_data = c.acs5.get(("NAME", "B01003_001E", "B23025_005E", "B19013_001E", "B17001_002E", "B25064_001E", "B25077_001E", "B25088_002E", "B15003_002E",
                         "B15003_017E", "B15003_018E", "B15003_021E", "B15003_022E", "B15003_023E", "B15003_024E", "B15003_025E", "B16001_002E"),{'for': 'state:39'})

In [28]:
census_pd = pd.DataFrame(census_data)
census_pd.head()

,B01003_001E,B15003_002E,B15003_017E,B15003_018E,B15003_021E,B15003_022E,B15003_023E,B15003_024E,B15003_025E,B16001_002E,B17001_002E,B19013_001E,B23025_005E,B25064_001E,B25077_001E,B25088_002E,NAME,state
0,11609756.0,67808.0,2342883.0,303725.0,672658.0,1341204.0,591026.0,129078.0,87319.0,10163386.0,1683890.0,52407.0,378735.0,764.0,135100.0,1247.0,Ohio,39

In [30]:
census_pd = census_pd.rename(columns={"B01003_001E": "Population", 
                                      "B23025_005E": "Unemployment Count", 
                                      "B19013_001E": "Median Household Income",
                                      "B17001_002E": "People Living in Poverty",
                                      "B25064_001E": "Average Cost of Rent and Utilities Combined",
                                      "B25077_001E": "Average Value of an Owner-Occupied Home",
                                      "B25088_002E": "Average Monthly Housing Expense for a Homeowner with a Mortgage",
                                      "B15003_002E": "People over 25 with No Schooling",
                                      "B15003_017E": "High School Diploma",
                                      "B15003_018E": "GED",
                                      "B15003_021E": "Associates Degree",
                                      "B15003_022E": "Bachelor's Degree",
                                      "B15003_023E": "Master's Degree",
                                      "B15003_024E": "Professional Degree",
                                      "B15003_025E": "Doctoral Degree", 
                                      "B16001_002E": "English Only Speakers",
                                      "NAME": "Name"})

In [31]:
census_pd.head()

,Population,People over 25 with No Schooling,High School Diploma,GED,Associates Degree,Bachelor's Degree,Master's Degree,Professional Degree,Doctoral Degree,English Only Speakers,People Living in Poverty,Median Household Income,Unemployment Count,Average Cost of Rent and Utilities Combined,Average Value of an Owner-Occupied Home,Average Monthly Housing Expense for a Homeowner with a Mortgage,Name,state
0,11609756.0,67808.0,2342883.0,303725.0,672658.0,1341204.0,591026.0,129078.0,87319.0,10163386.0,1683890.0,52407.0,378735.0,764.0,135100.0,1247.0,Ohio,39

In [41]:
census_pd["Unemployment Rate"] = 100 * \
    census_pd["Unemployment Count"].astype(
        int) / census_pd["Population"].astype(int)

census_pd["No Schooling Rate"] = 100 * \
    census_pd["People over 25 with No Schooling"].astype(
        int) / census_pd["Population"].astype(int)

census_pd["High School Education Rate"] = 100 * \
    census_pd["High School Diploma"].astype(
        int) / census_pd["Population"].astype(int)

census_pd["GED Rate"] = 100 * \
    census_pd["GED"].astype(
        int) / census_pd["Population"].astype(int)

census_pd["Associates Degree Rate"] = 100 * \
    census_pd["Associates Degree"].astype(
        int) / census_pd["Population"].astype(int)

census_pd["Bachelor's Degree Rate"] = 100 * \
    census_pd["Bachelor's Degree"].astype(
        int) / census_pd["Population"].astype(int)

census_pd["Master's Degree Rate"] = 100 * \
    census_pd["Master's Degree"].astype(
        int) / census_pd["Population"].astype(int)

census_pd["Professional Degree Rate"] = 100 * \
    census_pd["Professional Degree"].astype(
        int) / census_pd["Population"].astype(int)

census_pd["Doctoral Degree Rate"] = 100 * \
    census_pd["Doctoral Degree"].astype(
        int) / census_pd["Population"].astype(int)

census_pd["English Only Speakers Rate"] = 100 * \
    census_pd["English Only Speakers"].astype(
        int) / census_pd["Population"].astype(int)

census_pd["Poverty Rate"] = 100 * \
    census_pd["People Living in Poverty"].astype(
        int) / census_pd["Population"].astype(int)


census_pd

,Population,People over 25 with No Schooling,High School Diploma,GED,Associates Degree,Bachelor's Degree,Master's Degree,Professional Degree,Doctoral Degree,English Only Speakers,...,No Schooling Rate,High School Education Rate,GED Rate,Associates Degree Rate,Bachelor's Degree Rate,Master's Degree Rate,Professional Degree Rate,Doctoral Degree Rate,English Only Speakers Rate,Poverty Rate
0,11609756.0,67808.0,2342883.0,303725.0,672658.0,1341204.0,591026.0,129078.0,87319.0,10163386.0,...,0.584061,20.180295,2.616119,5.793903,11.552387,5.09077,1.111806,0.752117,87.541771,14.504095

In [ ]:
# Final DataFrame
census_pd = census_pd[["NATIVITY AND CITIZENSHIP STATUS IN THE UNITED STATES", "HOUSEHOLD INCOME IN THE PAST 12 MONTHS IN 2017 INFLATION-ADJUSTED DOLLARS","POVERTY STATUS IN THE PAST 12 MONTHS BY SEX BY AGE", "SEX BY OCCUPATION FOR THE CIVILIAN EMPLOYED POPULATION 16 YEARS AND OVER", "VALUE OF HOME", "TENURE BY VEHICLES AVAILABLE","YEAR STRUCTURE BUILT"]]
# Visualize
print(len(census_pd))
census_pd.head()